/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FF9F1C;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF9F1C;
}

/* navbar styling */
nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
    background: #FF9F1C;
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .brand-logo a {
    font-weight: 500;
    font-size: 35px;
    color: #FF9F1C;
}

nav.sticky .navbar .brand-logo a {
    color: #fff;
}

nav .navbar .nav-menu {
    display: flex;
    position: relative;
}

nav .navbar .nav-menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .nav-menu a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.navbar .nav-menu a:hover {
    color: #FF9F1C;
}

nav.sticky .nav-menu a {
    color: #FFF;
}

nav.sticky .nav-menu a:hover {
    color: #0E2431;
}

.navbar .social-icons a {
    color: #FF9F1C;
    font-size: 18px;
    margin: 0 6px;
}

nav.sticky .social-icons a {
    color: #FFF;
}

nav .menu-btn,
.navbar .nav-menu .close-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: #FF9F1C;
}

nav.sticky .menu-btn {
    color: #FFF;
}

.navbar .nav-menu .menu-btn {
    color: #fff;
}

/* home section styling */
.hero {
    height: 100vh;
    width: 100%;
    background: url("https://i.postimg.cc/FHH08Bgc/Whats-App-Image-2024-05-08-at-23-02-08-b4f1d420-removebg-preview-1.png") no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.hero .hero-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .intro {
    font-size: 25px;
    color: #0E2431;
}

.hero .name {
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.hero .role {
    font-size: 40px;
    margin: 5px 0;
    color: #FF9F1C;
}

.hero .location {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}

.hero .cta {
    margin: 14px 0;
}

.hero .cta button {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #FF9F1C;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.hero .cta button:hover {
    border-color: #FF9F1C;
    background-color: #fff;
    color: #FF9F1C;
}


section {
    padding-top: 40px;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .section-title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .section-title span::before,
section .section-title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FF9F1C;
    left: 0;
    bottom: 0;
}

section .section-title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .heading {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
}

section .cta {
    margin: 16px 0;
}

section .cta button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #FF9F1C;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .cta button:hover {
    border-color: #FF9F1C;
    background-color: #fff;
    color: #FF9F1C;
}

/* My Skills CSS */
.skills {
    background: #CBF3F0;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: #0E2431;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}



.skills-details .boxes {
   
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
   
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: #FF9F1C;
}

.skills-details .boxes .per {
    font-size: 60px;
    color: #FF9F1C;
}

/* My Services CSS */
.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
}

.services .boxes .box:hover {
    background: #FF9F1C;
    color: #fff;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #FF9F1C;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon {
    background-color: #fff;
    color: #FF9F1C;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #0E2431;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #fff;
}

/* Contact Me CSS */
.contact {
    background: #F0F8FF;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

/* Footer CSS */
footer {
    background: #0075A2;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

footer .text span a {
    font-weight: 500;
    color: #FFF;
}

footer .text span a:hover {
    text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #FF9F1C;
    padding: 7px 12px;
    ;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
    section .content {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }

    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 900px) {
    .about .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 750px) {
    nav .navbar {
        width: 90%;
    }

    nav .navbar .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        background: #0E2431;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }

    .navbar.active .nav-menu {
        left: 0;
    }

    nav .navbar .nav-menu a {
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }

    nav.sticky .nav-menu a:hover {
        color: #FF9F1C;
    }

    nav .navbar .social-icons {
        display: none;
    }

    nav .menu-btn,
    .navbar .nav-menu .close-btn {
        display: block;
    }

    .hero .name {
        font-size: 65px;
    }

    .hero .role {
        font-size: 35px;
    }

    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% - 20px);
    }

    .contact .text {
        width: 100%;
    }
}